
body {
    background-image: url(../imagenes/bg2.jpg);
    background-size: cover;
    font-family: $fuentePrincipal;
}

    // RESERVAS
.cuerpoReservas {
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: 3.5rem auto 2rem;
} 
