
@font-face {
    font-family: SuperMario256;
    src: url("../fonts/SuperMario256.ttf");
}

@font-face {
    font-family: GothamRnd-Medlta;
    src: url("../fonts/GothamRnd-MedIta.otf");
}
$fuenteTitulo: SuperMario256;

$fuentePrincipal: GothamRnd-Medlta;

