
    // INDEX

.logo {
    img:hover {
        -webkit-transform: rotateY(360deg);
        transition: 2s ease-in-out;
    }
}

.text-center {
    font-family: $fuentePrincipal;
    font-size: 1.2em;
}

    // MENU
.titulos {
    text-align: map-get($styles, textAling);
    margin-bottom: map-get($styles, marginBasic);
    margin-top: map-get($styles, marginBasic);
    font-size: map-get($styles, sizeTitles);
}

.card {
    width: 18rem;
    height: 23rem;
    margin-bottom: map-get($styles, marginBasic);
    margin-left: 3rem;
    .cajaImagen {
        height: 15rem;
        background-color: rgba(249, 232, 47, 0.219);
        img {
            @extend %maxWH;
            -webkit-transform: scale(1);
	        transform: scale(1);
	        -webkit-transition: .3s ease-in-out;
	        transition: .3s ease-in-out;
        }
        &:hover {
            img {
                -webkit-transform: scale(1.3);
	            transform: scale(1.3);
            }
        }
    }
}

.cajaVideo {
    @include display($display: flex, $justify: center);
    .video {
        width: 28rem;
        height: 20rem;
        video {
            @extend %maxWH;
        }
    }
}

    // BEBIDAS
.bebidas {
    width: 85%;
    height: 29rem;
    margin-top: map-get($styles, marginBasic);
    background-color: rgba(245, 223, 223, 0.9);
    .card-title {
        text-align: map-get($styles, textAling);
        margin-bottom: map-get($styles, marginBasic);
    }
}

    // NOSOTROS
.descripcion {
    margin-top: map-get($styles, marginBasic);
}

.ubicacion {
    width: 100%;
    iframe {
        width: 100%;
    }
}

    // RESERVAS

.principalReservas {
    margin-top: map-get($styles, marginBasic);
    grid-area: main;
    h1 {
        text-align: map-get($styles, textAling);
        margin: map-get($styles, marginBasic) 0;
    }
    .contenedor {
        @include display($display: flex, $justify: center);
        .formulario {
            display: flex;
            flex-direction: column;
            width: 33rem;
            border: 2px solid rgb(27, 27, 27);
            padding: 8px;
            margin-bottom: map-get($styles, marginBasic);
            background-color: rgba(212, 212, 204, 0.9);
            box-shadow: map-get($styles, colorDark) 3px 3px 5px;
            label {
                color: map-get($styles, colorDark);
                font-family: GothamRnd-MedIta;
                font-size: 20px;
            }
       }
    }
    .textoPie {
        color: map-get($styles, colorDark);
        font-family: GothamRnd-MedIta;
        font-size: 20px;
   }
}

